# modify these values as necessary
# then type `:wq` to save and continue
# WARN: you cannot use variables defined here in other variables
LANG="en_US.UTF-8"
PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:/usr/local/go/bin:$HOME/go/bin:$PATH
REPO="$HOME/Repo"
SCRIPTS="$HOME/Repo/personal/scripts"
SSH_CONFIG_DIR="$HOME/.ssh/configs"
TERM="screen-256color"

# obsidian
OBSIDIAN="$HOME/Obsidian"
OBSIDIAN_INBOX="$HOME/Obsidian/0-inbox"
# uncomment if you use daily notes
#OBSIDIAN_USE_DAILY_NOTES=""

# gitlab
GITLAB_TOKEN=''
GITLAB_HOST='gitlab.com'

# python
VENV_DIR="$HOME/.venv"
UV_PYTHON="$HOME/.venv/bin/python"

# vault
VAULT_ADDR=""
VAULT_TOKEN=""

# shell envs
HISTSIZE=1000
